# Crazy App
.cache
.database
.trash
docs/crazyphp

# Composer dependances (PHP)
/vendor/
composer.lock

# Npm dependances (JS)
node_modules
package-lock.json

# Git
.git

# Etc
.DS_Store
._*

# PHPUnit (PHP)
.phpunit.result.cache

# Vscode
.vscode 

# Docker
docker
docker-compose.yml
config/Docker.yml