# Composer dependances (PHP)
/vendor/
composer.lock

# Npm dependances (JS)
node_modules
package-lock.json

# Distribution
/dist

# Etc
.DS_Store

# PHPUnit (PHP)
.phpunit.result.cache
tests/.cache/*
