/* Host */
regular-btn {

    /* Display */
    display: inline-block;

    /* Dimension */
    width: fit-content;
    height: fit-content;
    
    /* A */
    a {

        /* Img */
        img {

            /* Dimension */
            width: inherit;
            height: inherit;
            object-fit: contain;
            
        }

        /* Floating */
        &.btn-floating {


            /* Round */
            &.btn-round {

                /* Border */
                border-radius: 50%;

            }

        }

        /* Depth */
        &.btn-outlined {

            /* Border */
            border: 1px solid!important;
            border-color: black!important;

        }

        /* Extended */
        &.btn-extended {

            /* Background */
            background-color: transparent;

            /* Text */
            text-transform: inherit;

            /* Silblies */

            /* Btn small */
            &.btn-small {

                /* Position */
                position: relative;
                
                /* Dimension */
                padding: 0 10px;

                /* Silblies */
                &.btn-round {

                    /* Border */
                    border-radius: 16.2px;

                    /* Padding */
                    padding-left: 18x;
                    padding-right: 18px;

                }

                /* Icon right */
                &.icon-right {

                    /* Dimension */
                    padding-right: 30px;

                    /* i */
                    i {
    
                        /* Position */
                        right: 0px;
                        
                    }

                }

                /* Icon left */
                &.icon-left {

                    /* Dimension */
                    padding-right: 30px;

                    /* i */
                    i {
    
                        /* Position */
                        left: 0px;
                        
                    }

                }

                /* i */
                i {

                    /* Position */
                    position: absolute;

                    /* Dimension */
                    margin: 7px;

                }

            }

            /* Btn normal */
            &.btn-normal {

                /* Text */
                text-decoration: none;
                text-align: center;
                letter-spacing: 0.5px;

                /* Border */
                border: none;
                
                /* Dimension */
                display: inline-block;
                line-height: 40px;
                padding: 0 22px;

                /* Placement */
                vertical-align: middle;

                /* Color */
                color: #fff;

                /* Transition */
                transition: background-color 0.2s ease-out;



                /* Silblies */
                &.btn-round {

                    /* Border */
                    border-radius: 20px;

                }

                /* Dimension */
                padding-left: 20px;
                padding-right: 20px;
                
                /* Silblies */

                /* Icon right */
                &.icon-right{

                    /* Padding */
                    padding-right: 10px!important;

                    /* Children */
                    i {

                        /* Position */
                        margin-right: 5px;
                        margin-left: 5px;

                    }

                }

                /* Icon left */
                &.icon-left{

                    /* Padding */
                    padding-left: 10px!important;

                    /* Children */
                    i {

                        /* Position */
                        margin-right: 5px;
                        margin-left: 5px;

                    }

                }

            }

            /* Btn large */
            &.btn-large {

                /* Silblies */
                &.btn-round {

                    /* Border */
                    border: none;
                    border-radius: 27px;

                }

                /* Dimension */
                padding-left: 24px;
                padding-right: 24px;
                
                /* Silblies */

                /* Icon right */
                &.icon-right{

                    /* Padding */
                    padding-right: 48px!important;

                }

                /* Icon left */
                &.icon-left{

                    /* Padding */
                    padding-left: 48px!important;

                    /* Children */
                    i {

                        /* Position */
                        margin-left: 0px;

                    }

                }

            }

            /* Btn large */
            &.btn-extra-large {

                /* Select */
                user-select: none;

                /* Dimension */
                width: auto;
                height: auto;
                padding: 0 35px;
                height: 100px;

                /* Position */
                position: relative;

                /* Display */
                display: flex;
                align-items: center;

                /* Icon right */
                &.icon-right {

                    /* Dimension */
                    padding-right: 90px;

                    /* i */
                    i {
    
                        /* Position */
                        right: 0px;
                        
                    }

                }

                /* Icon left */
                &.icon-left {

                    /* Dimension */
                    padding-right: 90px;

                    /* i */
                    i {
    
                        /* Position */
                        left: 0px;
                        
                    }

                }

                &.btn-round {

                    /* Border */
                    border-radius: 50px;

                }

                /* i */
                i {

                    /* Position */
                    position: absolute;

                    /* Dimension */
                    margin: 20px;

                }

            }

            /* Event */
            &:hover {

                /* Color */
                background-color: transparent;

            }

            /* Children */
            

        }

        /* Shape */
        &.btn-box {

            /* Border */
            border-radius: 16px;

            /* Silbies */

            /* Normal size */
            &.btn-normal {

                /* Dimension */
                /* width: 40px; */

                /* Border */
                border-radius: 13px;

            }

            /* Small size */
            &.btn-small {

                /* Border */
                border-radius: 10px;

            }

        }

        /* Size */

        /* Small */
        &.btn-small {

            /* Floating */
            &.btn-floating {

                /* Dimension */
                width: 30px;
                height: 30px;

                /* Children */
                i {
        
                    /* Dimension */
                    /* height: 30px!important; */
        
                }

            }

        }

        /* Normal */
        &.btn-normal {

            /* Children */
            i {

                /* Dimension */
                height: 40px;
                line-height: 40px;

            }

        }

        /* Large */
        &.btn-large {

            /* Children */
            i {

                /* Dimension */
                height: 40px;
                line-height: 40px;

                /* Font size */
                font-size: 1.6rem!important;

            }

        }

        /* Extra large */
        &.btn-extra-large {

            /* Dimension */
            width: 100px;
            height: 100px;

            /* Font size */
            font-size: 3rem;

            /* Children */
            i {

                /* Font size */
                font-size: 3rem!important;
            
            }

        }

        /* Children */

        /* Fix */
        &.btn-floating, &.btn-floating:hover {

            /* Color */
            background-color: transparent;

        }

        /* Icon */
        i {

            /* User selection */
            user-select: none;

        }

    }

}