# #
# Htaccess
#
# Override conf for apache server
#
# Apache CONF
#
# @package    kzarshenas/crazyphp
# @author     kekefreedog <kevin.zarshenas@gmail.com>
# @copyright  2022-2024 Kévin Zarshenas
# #

# Force php83
# AddHandler application/x-httpd-alt-php83 .php .php5

# Timezone
# php_value date.timezone 'Europe/Paris'

# Enable rewrite
RewriteEngine on

# Convert subfolder to root get value and redirect to .index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?root=$1 [QSA,L]

<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "POST, GET, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
    Header set Access-Control-Allow-Credentials "true"
</IfModule>

# Respond with 200 OK for OPTIONS preflight requests
RewriteCond %{REQUEST_METHOD} OPTIONS
RewriteRule ^(.*)$ $1 [R=200,L]
