[[!--
  ! {{Name}}
  !
  ! Template for partial {{Name}}
  !
  ! HANDLEBARS.JS version 4.7.7
  !
  ! @package    kzarshenas/crazyphp
  ! @source     https://codepen.io/halis/pen/wvMNvbq
  ! @author     kekefreedog <kevin.zarshenas@gmail.com>
  ! @copyright  2022-2023 Kévin Zarshenas
  !--]]
<div partial="{{file}}">

    <p>{{Name}}</p>

</div>