{{!-- Root --}}
<div id="crazy-root" descriptive-id="" class="screen-fit-min-y screen-flex screen-center">

    {{> preloader_linear_indeterminate}}

    {{> navigation}}

    {{!-- Body --}}
    <div id="crazy-content" descriptive-id="" class="element-flex-grow-1 pb-5">

        <div class="row container">

            <div class="col s12 m10 row">

                {{!-- Title --}}
                <div class="col s12">
                    <h1>Crazy PHP</h1>
                </div>

            </div>

        </div>

    </div>

</div>


