{{!-- Root --}}
<div id="crazy-root" descriptive-id="" class="screen-fit-min-y screen-flex screen-center dark-mode-blue-grey darken-4-dark-mode light-mode-white">

    {{!-- Left Navigation Rail --}}
    <div id="crazy-left-navigation-rail" descriptive-id="" class="">

        <div class="crazy-left-navigation-rail-always-visible">

            <nav>

                <regular-btn label="hello" size="small" depth="1"></regular-btn>

                <regular-btn size="normal" depth="1"></regular-btn>

                <regular-btn size="large" depth="1"></regular-btn>

                <regular-btn size="small" shape="box" depth="1"></regular-btn>

                <regular-btn size="normal" shape="box" depth="1"></regular-btn>

                <regular-btn size="large" shape="box" depth="1" icon-text="delete"></regular-btn>

            </nav>

        </div>

        <div class="crazy-left-navigation-rail-collapsible">


        </div>

    </div>

    {{!-- Body --}}
    <div id="crazy-content" descriptive-id="" class="element-flex-grow-1">

            <regular-btn label="hello" size="small" depth="1" shape="box" type="extended"></regular-btn>

            <regular-btn label="hello" size="normal" depth="1" shape="box" type="extended"></regular-btn>

            <regular-btn label="hello" size="large" depth="1" shape="box" type="extended"></regular-btn>

            <regular-btn label="hello" size="small" depth="1" type="extended"></regular-btn>

            <regular-btn label="hello" size="normal" depth="1" type="extended"></regular-btn>

            <regular-btn label="hello" size="large" depth="1" type="extended"></regular-btn>

    </div>

</div>
