{{!-- Root --}}
<div id="crazy-root" descriptive-id="" class="screen-fit-min-y screen-flex screen-center dark-mode-blue-grey darken-4-dark-mode light-mode-white">

    {{!-- Left Navigation Rail --}}
    <div id="crazy-left-navigation-rail" descriptive-id="" class="">

        <div class="crazy-left-navigation-rail-always-visible">

            <nav>

                <regular-btn label="hello" size="small" depth="1"></regular-btn>

                <regular-btn size="normal" depth="1"></regular-btn>

                <regular-btn size="large" depth="1"></regular-btn>

                <regular-btn size="small" shape="box" depth="1"></regular-btn>

                <regular-btn size="normal" shape="box" depth="1"></regular-btn>

                <regular-btn size="large" shape="box" depth="1" icon-text="delete"></regular-btn>

            </nav>

        </div>

        <div class="crazy-left-navigation-rail-collapsible">


        </div>

    </div>

    {{!-- Body --}}
    <div id="crazy-content" descriptive-id="" class="element-flex-grow-1 container pb-5">

        <div class="row">

            {{!-- Title --}}
            <div class="col s12">
                <h1>Crazy PHP</h1>
            </div>

            {{!-- Components --}}
            <div class="col s12">
                <h3>Components</h3>
            </div>

            {{!-- Regular Btn --}}
            <div class="col s12">
                <h4>Regular Btn</h4>
            </div>

            {{!-- Regular Btn | Floating --}}
            <section class="col s6 m6 s12 row">

                <div class="col s12">
                    <h5>Btn Floating Round</h5>
                </div>

                <div class="col s12 screen-flex screen-bottom-y screen-center-distributed-x">

                    <regular-btn label="Floating small round" color-primary="orange" size="small" depth="1" shape="box" type="floating"></regular-btn>

                    <regular-btn label="Floating normal round" color-primary="red" size="normal" depth="1" shape="box" type="floating"></regular-btn>

                    <regular-btn label="Floating large round" color-primary="blue" size="large" depth="1" shape="box" type="floating"></regular-btn>

                    <regular-btn label="Floating extra-large round" color-primary="green" size="extra-large" depth="1" shape="box" type="floating"></regular-btn>

                </div>

            </section>

            {{!-- Regular Btn | Floating --}}
            <section class="col s6 m6 s12 row">

                <div class="col s12">
                    <h5>Btn Floating Box</h5>
                </div>

                <div class="col s12 screen-flex screen-bottom-y screen-center-distributed-x">

                    <regular-btn label="Floating small box" color-primary="orange" size="small" depth="1" shape="round" type="floating"></regular-btn>

                    <regular-btn label="Floating normal box" color-primary="red" size="normal" depth="1" shape="round" type="floating"></regular-btn>

                    <regular-btn label="Floating large box" color-primary="blue" size="large" depth="1" shape="round" type="floating"></regular-btn>

                    <regular-btn label="Floating extra-large box" color-primary="green" size="extra-large" depth="1" shape="round" type="floating"></regular-btn>

                </div>

            </section>

            {{!-- Regular Btn | Floating --}}
            <section class="col s1é m12 s12 row">

                {{!-- Regular Btn | Extended --}}
                <div class="col s12">
                    <h5>Btn Extended Box</h5>
                </div>

                <div class="col s12 screen-flex screen-bottom-y screen-center-distributed-x">

                    <regular-btn label="Floating small" color-primary="orange" size="small" depth="1" shape="box" type="extended"></regular-btn>

                    <regular-btn label="Floating normal" color-primary="red" size="normal" depth="1" shape="box" type="extended"></regular-btn>

                    <regular-btn label="Floating large" color-primary="blue" size="large" depth="1" shape="box" type="extended"></regular-btn>
                    
                    <regular-btn label="Floating extra-large" color-primary="green" size="extra-large" depth="1" shape="box" type="extended"></regular-btn>

                </div>

            </section>

            {{!-- Regular Btn | Floating --}}
            <section class="col s1é m12 s12 row">

                {{!-- Regular Btn | Extended --}}
                <div class="col s12">
                    <h5>Btn Extended Round</h5>
                </div>

                <div class="col s12 screen-flex screen-bottom-y screen-center-distributed-x">

                    <regular-btn label="Floating small" color-primary="orange" size="small" depth="1" shape="round" type="extended"></regular-btn>

                    <regular-btn label="Floating normal" color-primary="red" size="normal" depth="1" shape="round" type="extended"></regular-btn>

                    <regular-btn label="Floating large" color-primary="blue" size="large" depth="1" shape="round" type="extended"></regular-btn>
                    
                    <regular-btn label="Floating extra-large" color-primary="green" size="extra-large" depth="1" shape="round" type="extended"></regular-btn>

                </div>

            </section>

        </div>

    </div>

</div>
