{{!--
  ! Loading Screen Btn (Style)
  !
  ! Customisable Loadine Sreen Btn
  !
  ! HANDLEBARS.JS version 4.7.7
  !
  ! @package    kzarshenas/crazyphp
  ! @author     kekefreedog <kevin.zarshenas@gmail.com>
  ! @copyright  2022-2022 Kévin Zarshenas
  !--}}

{{!-- Parent --}}
<div class="loading-screen">
    {{!-- Button --}}
    <a class="btn">
        {{!-- Pre Loader --}}
        <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        {{!-- Icon --}}
        <div>
            <img alt="logo" src="https://materializecss.com/res/materialize.svg" />
        </div>
    </a>
</div>