{{!--
  ! Loading Screen Btn (Style)
  !
  ! Customisable Loadine Sreen Btn
  !
  ! HANDLEBARS.JS version 4.7.7
  !
  ! @package    kzarshenas/crazyphp
  ! @author     kekefreedog <kevin.zarshenas@gmail.com>
  ! @copyright  2022-2022 Kévin Zarshenas
  !--}}


{{!-- Container --}}
<a class="loading-screen-btn-container light-mode-blue-grey darken-4-light-mode dark-mode-white">
    {{!-- Pre Loader --}}
    <div class="loading-screen-btn-preloader preloader-wrapper active">
        <div class="spinner-layer">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
    {{!-- Icon --}}
    <div class="loading-screen-btn-logo-container">
        <img class="loading-screen-btn-logo" alt="logo" src="/asset/favicon/android-chrome-192x192.png" />
    </div>
</a>