{{!--
  ! Navigation
  !
  ! Left Navigation Rail
  !
  ! HANDLEBARS.JS version 4.7.7
  !
  ! @package    kzarshenas/crazyphp
  ! @author     kekefreedog <kevin.zarshenas@gmail.com>
  ! @copyright  2022-2023 Kévin Zarshenas
  !--}}
<div
    id="crazy-left-navigation-rail" 
    descriptive-id=""
    class=""
    partial="navigation"
>

    <div class="crazy-left-navigation-rail-always-visible">

        <nav>

            {{!-- Hello btn --}}
            <regular-btn label="Hello world !" class="mb-4" size="large" shape="box" depth="1" icon-text="waving_hand"></regular-btn>

        </nav>

    </div>

    <div class="crazy-left-navigation-rail-collapsible">


    </div>

</div>