{{!--
  ! Preloader Linear Indeterminate
  !
  ! HANDLEBARS.JS version 4.7.7
  !
  ! @source     https://materializeweb.com/preloader.html
  ! @package    kzarshenas/crazyphp
  ! @author     kekefreedog <kevin.zarshenas@gmail.com>
  ! @copyright  2022-2023 Kévin Zarshenas
  !--}}
<div 
  class="progress mt-0 mb-0"
  partial="preloader_linear_indeterminate"
  disabled
>
    <div class="indeterminate"></div>
</div>