/// /// ///
/// Color Gradient Collection
///
/// @package    kzarshenas/crazyphp
/// @author     kekefreedog <kevin.zarshenas@gmail.com>
/// @copyright  2022-2024 Kévin Zarshenas
/// /// ///

/// Background Gradient
$gradient-colors: (gradient-45deg-light-blue-teal: ('start-color' : color("light-blue", "lighten-4"),
    'end-color' : color("teal", "accent-2"),
    'direction' : 45deg,
  ),
  gradient-45deg-indigo-light-blue: ('start-color' : color("indigo", "darken-1"),
    'end-color' : color("light-blue", "lighten-2"),
    'direction' : 45deg,
  ),
  gradient-45deg-light-blue-indigo: ('start-color' : color("light-blue", "lighten-4"),
    'end-color' : color("indigo", "lighten-3"),
    'direction' : 45deg,
  ),
  gradient-45deg-yellow-green: ('start-color' : color("yellow", "accent-1"),
    'end-color' : color("green", "accent-1"),
    'direction' : 45deg,
  ),
  gradient-45deg-orange-deep-orange: ('start-color' : color("orange", "lighten-4"),
    'end-color' : color("deep-orange", "lighten-4"),
    'direction' : 45deg,
  ),
  gradient-45deg-deep-purple-purple: ('start-color' : color("deep-purple", "lighten-4"),
    'end-color' : color("purple", "lighten-5"),
    'direction' : 45deg,
  ),
  gradient-45deg-red-pink: ('start-color' : color("red", "accent-2"),
    'end-color' : color("pink", "lighten-3"),
    'direction' : 45deg,
  ),
  gradient-45deg-light-green-amber: ('start-color' : color("light-green", "lighten-3"),
    'end-color' : color("amber", "lighten-5"),
    'direction' : 45deg,
  ),
  gradient-45deg-amber-amber: ('start-color' : color("amber", "darken-4"),
    'end-color' : color("amber", "lighten-1"),
    'direction' : 45deg,
  ),
  gradient-45deg-purple-pink: ('start-color' : color("purple", "accent-1"),
    'end-color' : color("pink", "lighten-5"),
    'direction' : 45deg,
  ),
  gradient-45deg-teal-cyan: ('start-color' : color("teal", "lighten-5"),
    'end-color' : color("cyan", "accent-3"),
    'direction' : 45deg,
  ),
  gradient-45deg-blue-grey-blue-grey: ('start-color' : color("blue-grey", "lighten-4"),
    'end-color' : color("blue-grey", "darken-1"),
    'direction' : 45deg,
  ),
  gradient-45deg-orange-amber: ('start-color' : color("orange", "darken-4"),
    'end-color' : color("blue", "darken-2"),
    'direction' : 45deg,
  ),
  gradient-45deg-indigo-blue: ('start-color' : color("indigo", "darken-2"),
    'end-color' : color("blue", "darken-2"),
    'direction' : 45deg,
  ),
  gradient-45deg-brown-brown: ('start-color' : color("brown", "darken-1"),
    'end-color' : color("blue", "lighten-4"),
    'direction' : 45deg,
  ),
  gradient-45deg-blue-grey-blue: ('start-color' : color("blue-grey", "darken-4"),
    'end-color' : color("blue", "accent-3"),
    'direction' : 45deg,
  ),
  gradient-45deg-purple-deep-orange: ('start-color' : color("purple", "darken-1"),
    'end-color' : color("deep-orange", "accent-2"),
    'direction' : 45deg,
  ),
  gradient-45deg-green-teal: ('start-color' : color("green", "darken-1"),
    'end-color' : color("teal", "accent-3"),
    'direction' : 45deg,
  ),
  gradient-45deg-purple-light-blue: ('start-color' : color("purple", "accent-2"),
    'end-color' : color("light-blue", "lighten-2"),
    'direction' : 45deg,
  ),
  gradient-45deg-cyan-cyan: ('start-color' : color("cyan", "accent-2"),
    'end-color' : color("cyan", "accent-3"),
    'direction' : 45deg,
  ),
  gradient-45deg-yellow-teal: ('start-color' : color("yellow", "lighten-4"),
    'end-color' : color("teal", "accent-2"),
    'direction' : 45deg,
  ),
  gradient-45deg-purple-deep-purple: ('start-color' : color("purple", "darken-2"),
    'end-color' : color("deep-purple", "accent-2"),
    'direction' : 45deg,
  ),
  gradient-45deg-cyan-light-green: ('start-color' : color("cyan", "darken-2"),
    'end-color' : color("light-green", "accent-2"),
    'direction' : 45deg,
  ),
  gradient-45deg-purple-amber: ('start-color' : color("purple", "accent-3"),
    'end-color' : color("amber", "darken-2"),
    'direction' : 45deg,
  ),
  gradient-45deg-indigo-purple: ('start-color' : color("indigo", "darken-2"),
    'end-color' : color("purple", "darken-2"),
    'direction' : 45deg,
  ),
  gradient-45deg-deep-purple-blue: ('start-color' : color("deep-purple", "accent-4"),
    'end-color' : color("blue", "darken-2"),
    'direction' : 45deg,
  ),
  gradient-45deg-deep-orange-orange: ('start-color' : color("deep-orange", "darken-4"),
    'end-color' : color("orange", "darken-2"),
    'direction' : 45deg,
  ),
  gradient-45deg-light-blue-cyan: ('start-color' : color("light-blue", "darken-2"),
    'end-color' : color("cyan", "lighten-1"),
    'direction' : 45deg,
  ),
  gradient-45deg-blue-indigo: ('start-color' : color("blue", "accent-4"),
    'end-color' : color("indigo", "darken-1"),
    'direction' : 45deg,
  ),
  gradient-45deg-semi-dark: ('start-color' : #00AEFF,
    'end-color' : #3369E6,
    'direction' : -90deg,
  ),
);