/// /// ///
/// Dimnensions
///
/// Dimensions specific scss stylesheet
///
/// @package    kzarshenas/crazyphp
/// @author     kekefreedog <kevin.zarshenas@gmail.com>
/// @copyright  2022-2023 Kévin Zarshenas
/// /// ///

/// Material icons
///////////////////////////////////////////////////////
///

/* Material icons */
i.material-icons {

    /* Selectable */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* Fix icon on card title */
h4.card-title i.material-icons {

    /* Position */
    line-height: normal;
    vertical-align: text-bottom;
    margin-right: 6px;

}

/* Icon in blockquote */
blockquote i.material-icons {
    /* Font */
    font-size: inherit;
    /* Position */
    vertical-align: sub;
}

/// Collection
///////////////////////////////////////////////////////
///

ul.collection {

    // Dimension
    border-radius: 12px;

    // Collection header 
    li.collection-header {

        // Color
        background: var(--md-sys-color-surface-variant);

    }

}

/// List collapsible
///////////////////////////////////////////////////////
///

/* List collapsible */
ul.collapsible {

    /* Border */
    border-radius: 12px;

    /* Background */
    background-color: var(--md-sys-color-surface);

    /* Check not child active */
    &:not(:has(li:last-child.active)){

        /* Overflow */
        overflow: hidden;

    }

    /* Header */
    .collapsible-header {

        /* Text */
        text-wrap: nowrap;

    }

    /* First */
    li:first-child .collapsible-header {

        /* Border */
        border-radius: 12px 12px 0 0;

    }

    /* First */
    li:last-child {

        /* Not active */
        &:not(.active) .collapsible-header {

            /* Border */
            border-radius: 0 0 12px 12px;
            transition-delay: 250ms;
            transition-property: border-radius;
    
        }

        /* Active */
        &.active .collapsible-body {

            /* Border */
            border-radius: 0 0 12px 12px;

        }

    }

}

/// Text Inputs
///////////////////////////////////////////////////////
///

/**
 * Suffix
 */
.input-field .suffix {

    /* Dimension */
    padding: 7px;
    border-radius: 50%;
    width: 40px;
    height: 40px;

    /* Position */
    top: 8px;

    /* Color */
    background-color: #0b0c0d;

}

/**
 * Input next sibbling
 */
 div.suffix ~ input[type="text"] {

    /* Dimension */
    padding-right: 62px!important;

}

/// Text Inputs
///////////////////////////////////////////////////////
///

/**
 * Iframe Container
 */
 div:has(> div.iframe-suffix) {
    
    // Position
    position: relative;
    
 }

/**
 * Iframe Suffix
 */
.iframe-suffix {

    // Position
    position: absolute;
    right: 41px;

    // Flex
    display: flex;
    align-items: center;
    justify-content: center;

    // Color
    background-color: #19191a;

    // Dimension
    width: 35px;
    height: 35px;

    // Border
    border-radius: 50%;

    // Children
    &.suffix-bis {

        // Position
        right: 86px;

    }

}


/// Project card
///////////////////////////////////////////////////////
///

/* Project card  */
.card.project-card {

    /* Color */
    color: var(--md-sys-color-primary);
    background: var(--md-sys-color-primary-container);

    /* Children */
    .card-image {

        /* Children */
        img {

            /* Dimension */
            height: 12rem;;

        }

    }
    .card-content {

        /* Children */
        p {

            /* Children */
            i.material-icons {

                /* Dimension */
                font-size: 16px!important;

                /* Position */
                vertical-align: bottom!important;

            }

        }

    }

    /* Card action */
    .card-action {

        /* Children */
        a.btn-floating {

            /* Dimension */
            padding: initial!important;

            /* display */
            display: grid!important;

        }

    }

}

/// Swal
///////////////////////////////////////////////////////
///

/* Container */
.swal2-container {

    /* Popup */
    .swal2-popup {

        /* Position */
        display: flex!important;
        flex-direction: column!important;

        /* Html Container */
        .swal2-html-container {

            /* Dimension */
            min-height: inherit;
            flex-grow: 1;

        }

        /* close btn */
        .swal2-close {

            // Position
            position: absolute;
            right: 0;

        }

    }

}

/// Quill Js
///////////////////////////////////////////////////////
///

/* Toolbar */
.ql-toolbar {

    // Border radius
    border-radius: 4px 4px 0px 0px;

}

/* Editor */
.quill-editor, .ql-editor {

    // Border radius
    border-radius: 0px 0px 4px 4px;

}

// Light Mode
@media (prefers-color-scheme: light) {

    // Toolbar
    .ql-toolbar, .ql-editor {

        // Color
        background-color: #fcfcff;
        color: rgb(65, 71, 77);

    }
    .ql-toolbar span, .ql-toolbar svg {

        // Color
        color: rgb(65, 71, 77);

    }

    // Text Input Suffix
    .input-field .suffix {

        // Color
        background-color: white;

    }

}

// Dark mode
@media (prefers-color-scheme: dark) {

    // Toolbar
    .ql-toolbar, .ql-editor {

        // Color
        background-color: #1a1c1e;
        color: rgb(193, 199, 206);

    }
    .ql-toolbar span, .ql-toolbar svg {

        // Color
        color: rgb(193, 199, 206);

    }

    // Text Input Suffix
    .input-field .suffix {

        // Color
        background-color: #19191a;

    }

}


/// File Form
///////////////////////////////////////////////////////
///

// File field
div.file-field.input-field {

    // Left btn
    div.btn {

        margin-top: 5px;
    
        // Fix wap
        span {

            // Text
            white-space: nowrap;

        }

    }

    // Fix vertical align
    div.file-path-wrapper input {

        // Position
        padding-bottom: 20px;

    }

}

/// Dropdown
///////////////////////////////////////////////////////
///

// Dropdown border
.dropdown-content {

    // Dimension
    border-radius: 16px;

}

/// Fixed Action Button
///////////////////////////////////////////////////////
///

// Fixed Action Btn
.fixed-action-btn {

    // Placement top
    &.top {

        // Position
        top: 23px;
        bottom: unset;

        // Dimension
        padding-bottom: 15px;
        padding-top: 0;

        > ul {

            // Position
            top: 64px;
            bottom: unset;

        }

    }

}