/// /// ///
/// Dimnensions
///
/// Dimensions specific scss stylesheet
///
/// @package    kzarshenas/crazyphp
/// @author     kekefreedog <kevin.zarshenas@gmail.com>
/// @copyright  2022-2024 Kévin Zarshenas
/// /// ///

// Fit content to the window view size
.screen-fit {

    // Dimension
    width: 100%;
    height: 100vh;

}

// Fit content to the window view size
.screen-fit-x {

    // Dimension
    width: 100%;

}

// Fit content at least to the window view size
.screen-fit-min {

    // Dimension
    min-width: 100%;
    min-height: 100vh;

}

// Fit content at least to the window view size
.screen-fit-min-x {

    // Dimension
    min-width: 100%;
    height: 100vh;

}

// Fit content at least to the window view size
.screen-fit-min-y {

    // Dimension
    width: 100%;
    min-height: 100vh;

}

/* Flex */

// Proporties about 
.screen-flex {

    // Position
    display: flex;

    /* Brothers */

    // Place element in the center of the ciew window
    &.screen-center {

        // Position
        justify-content: center;
        align-items: center;

    }

    // Place element in the vertical center only
    &.screen-center-y {

        // Position
        align-items: center;

    }

    // Place element in the horizontal center only
    &.screen-center-x {

        // Position
        justify-content: center;

    }

    // Place element in the horizontal center only
    &.screen-direction-y-asc {

        // Position
        flex-direction: column;

    }

    // Place element in the horizontal center only
    &.screen-direction-y-desc {

        // Position
        flex-direction: column-reverse;

    }

    /* Children */

    // Grow of flex child
    .element-flex-grow-1 {

        // Flex
        flex-grow: 1;

    }

}

// Element Flex
.element-flex {

    // Position
    display: flex;

}

//// Object fit

// Object fit cover
.object-fit-cover {

    // Dimension
    object-fit: cover;

}

// Object fit cover
.object-fit-fill {

    // Dimension
    object-fit: fill;

}

/// Padding & Margin
///////////////////////////////////////////////////////
///

/* Steps */
$steps: (
    0: Opx,
    1: 0.25rem,
    2: 0.5rem,
    3: 0.75rem,
    4: 1rem,
    5: 1.5rem,
    6: 3rem
);

// Iteration of cursor
@each $name, $value in $steps {
    .padding-#{$name} {
        padding: $value!important;
    }
    .margin-#{$name} {
        margin: $value!important;
    }
}
