/// /// ///
/// Component - Crazy Content
///
/// Crazy Content
///
/// @package    kzarshenas/crazyphp
/// @author     kekefreedog <kevin.zarshenas@gmail.com>
/// @copyright  2022-2023 Kévin Zarshenas
/// /// /// 

/// Variables
///////////////////////////////////////////////////////
///

$crazy-content-height: 100vh;

/// Style
///////////////////////////////////////////////////////
///
#crazy-content {

    // Dimension
    height: $crazy-content-height;
    width: min-content;

    // Overflow
    overflow: auto;

}